* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

a {
  color: #00B7FF;
}

.answer {
  font-weight: bold;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 80px;
  height: 40px;
  line-height: 32px;
  margin: 50px;
  text-align: center;
}

.answer-yes {
  color: green;
}

.answer-no {
  font-weight: normal;
}
