extends layout
  h1 Testcontainer for BOOTSTRAP
      .row
        .col-sm-6
          .card
            img.card-img-top(src='/img/logo-improrpg.png' alt='improRPG Logo')
            .card-body
              h5.card-title= title
              p.card-text Welcome to #{title}
              a.btn.btn-primary(href='#') Go somewhere
